<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div *ngIf='onChanges' class='hook' style='border: 2px solid red'>
    <h1>OnChanges {{ onChanges.count }}</h1>
  </div>
  <div *ngIf='onInit' class='hook' style='border: 2px solid blue'>
    <h1>OnInit {{ onInit.count }}</h1>
  </div>
  <div *ngIf='doCheck' class='hook' style='border: 2px solid purple'>
    <h1>DoCheck {{ doCheck.count }}</h1>
  </div>
  <div *ngIf='afterContentInit' class='hook' style='border: 2px solid orange'>
    <h1>AfterContentInit {{ afterContentInit.count }}</h1>
  </div>
  <div *ngIf='afterContentChecked' class='hook' style='border: 2px solid green'>
    <h1>AfterContentChecked {{ afterContentChecked.count }}</h1>
  </div>
  <div *ngIf='afterViewInit' class='hook' style='border: 2px solid slateblue'>
    <h1>AfterViewInit {{ afterViewInit.count }}</h1>
  </div>
  <div *ngIf='afterViewChecked' class='hook' style='border: 2px solid orangered'>
    <h1>AfterViewChecked {{ afterViewChecked.count }}</h1>
  </div>
  <div *ngIf='onDestroy' class='hook' style='border: 2px solid black'>
    <h1>OnDestoy {{ onDestroy.count }}</h1>
  </div>

  <label>Name: </label>
  <input #nameInput type='text' (keypress)='inputName(nameInput.value)'>
  <button (click)='pushedButton()'>{{ pushed === 0 ? 'Push Me!!!' : 'Been Pushed ' + pushed + ' times!' }}</button>
</div>